@model WebQuanLiCuaHangBanOto.Models.LogDangnhap

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>LogDangnhap</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idlog" class="control-label"></label>
                <input asp-for="Idlog" class="form-control" />
                <span asp-validation-for="Idlog" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idtk" class="control-label"></label>
                <input asp-for="Idtk" class="form-control" />
                <span asp-validation-for="Idtk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThoiGian" class="control-label"></label>
                <input asp-for="ThoiGian" class="form-control" />
                <span asp-validation-for="ThoiGian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ip" class="control-label"></label>
                <input asp-for="Ip" class="form-control" />
                <span asp-validation-for="Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThanhCong" class="control-label"></label>
                <input asp-for="ThanhCong" class="form-control" />
                <span asp-validation-for="ThanhCong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DocbangLogDangNhap">Back to List</a>
</div>

</body>
</html>
