@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="CAR SHOP">
    <meta name="keywords" content="car, VIP, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CAR   ---    SHOP</title>

    <!-- Google Font -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>

    <!-- Humberger Begin -->
    <div class="h__menu__overlay"></div>
    <div class="h__menu__wrapper">
        <div class="h__menu__logo">
            <a href="#"><img src="/img/logo.png" style="width: 200px; height: 200px;" alt=""></a>
        </div>
        <div class="h__menu__cart">
            <ul>
                <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
            </ul>
            <div class="header__cart__price">item: <span>$150.00</span></div>
        </div>
        <div class="h__menu__widget">

            <div class="header__top__right__auth">
                <a href="#"><i class="fa fa-user"></i> Login</a>
            </div>
            <nav class="h__menu__nav mobile-menu">
                <ul>
                    <li class="active"><a asp-controller="Home" asp-action="ViewIndex">Home</a></li>
                    <li><a asp-controller="Home" asp-action="Shopgrid">Shop</a></li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a asp-controller="Home" asp-action="LogDetail">Shop Details</a></li>
                            <li><a asp-controller="Home" asp-action="Checkout">Check Out</a></li>
                            <li><a asp-controller="Home" asp-action="Blogdetail">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="Home" asp-action="Blog">Blog</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </nav>

        <div id="mobile-menu-wrap"></div>
        <div class="header__top__right__social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
            <a href="#"><i class="fa fa-pinterest-p"></i></a>
        </div>
        <div class="h__menu__contact">
            <ul>
                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                <li>Free Shipping for all Order of $99</li>
            </ul>
        </div>
    </div>
    <!-- Humberger End -->
    <!-- Header Section Begin -->
    <header class="header">
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                                <li>Free Shipping for all Order of $99</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>

                            <div class="header__top__right__auth">
                                <a href="#"><i class="fa fa-user"></i> Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="header__logo">
                        <a href="./index.html"><img src="/img/logo.png" style="width: 200px; height: 200px;" alt=""></a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="header__menu">
                        <ul>
                            <li><a href="/Home/Index">Home</a></li>
                            <li class="active"><a href="/Home/Shopgrid">Shop</a></li>
                            <li>
                                <a href="#">Pages</a>
                                <ul class="header__menu__dropdown">
                                    <li><a href="/Home/ShopDetails">Shop Details</a></li>
                                    <li><a href="/Home/Checkout">Check Out</a></li>
                                    <li><a href="/Home/BlogDetail">Blog Details</a></li>
                                </ul>
                            </li>
                            <li><a href="/Home/Blog">Blog</a></li>
                            <li><a href="/Home/Contact">Contact</a></li>
                        </ul>
                    </nav>

                </div>

            </div>

        </div>
    </header>
    <!-- Header Section End -->
    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>All departments</span>
                        </div>
                        <ul>
                            <li><a href="#">TOYOTA</a></li>
                            <li><a href="#">MERCEDES</a></li>
                            <li><a href="#">FORD</a></li>
                            <li><a href="#">FERRARI</a></li>
                            <li><a href="#">LAMBORGHINI</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="#">
                                <div class="hero__search__categories">
                                    All Categories
                                    <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" placeholder="What do yo u need?">
                                <button type="submit" class="site-btn">SEARCH</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                            <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="hero__search__phone__text">
                                <h5>0857540568</h5>
                                <span>support 24/7 time</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
    <!-- Blog Details Hero Begin -->
    <section class="blog-details-hero set-bg" data-setbg="/img/blog/details/details-hero.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog__details__hero__text">
                        <h2>Lamborghini Aventador – Siêu phẩm tốc độ và thiết kế từ nước Ý</h2>
                        <ul>
                            <li>By Mai Quang Thiện & Nguyễn Huỳnh Trí</li>
                            <li>May 14, 2025</li>
                            <li>8 Comments</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero End -->
    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-5 order-md-1 order-2">
                    <div class="blog__sidebar">
                        <div class="blog__sidebar__search">
                            <form action="#">
                                <input type="text" placeholder="Search...">
                                <button type="submit"><span class="icon_search"></span></button>
                            </form>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Categories</h4>
                            <ul>
                                <li><a href="#">All</a></li>
                                <li><a href="#">LAMBORGHINI</a></li>
                                <li><a href="#">TOYOTA</a></li>
                                <li><a href="#">FERRARI</a></li>
                                <li><a href="#">FORD</a></li>
                            </ul>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Recent News</h4>
                            <div class="blog__sidebar__recent">
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/img/blog/sidebar/sr-1.jpg" style="width: 200px; height: 200px;" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>------<br /> ---------</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/img/blog/sidebar/sr-2.jpg" style="width: 200px; height: 200px;" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>---------<br /> -------</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                                <a href="#" class="blog__sidebar__recent__item">
                                    <div class="blog__sidebar__recent__item__pic">
                                        <img src="/img/blog/sidebar/sr-3.jpg" style="width: 200px; height: 200px;" alt="">
                                    </div>
                                    <div class="blog__sidebar__recent__item__text">
                                        <h6>---------- <br />---------</h6>
                                        <span>MAR 05, 2019</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="blog__sidebar__item">
                            <h4>Search By</h4>
                            <div class="blog__sidebar__item__tags">
                                <a href="#">FERRARI</a>
                                <a href="#">LAMBORGHINI</a>
                                <a href="#">FORD</a>
                                <a href="#">TOYOTA</a>
                                <a href="#">MERCEDES</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 order-md-1 order-1">
                    <div class="blog__details__text">

                        <img src="/img/blog/details/details-pic.jpg" alt="Lamborghini Aventador">

                        <p>
                            🚗 <strong>Lamborghini Aventador – Biểu tượng siêu xe đến từ Ý</strong><br>
                            Lamborghini Aventador là siêu xe thể thao đỉnh cao được sản xuất bởi hãng xe danh tiếng <strong>Automobili Lamborghini</strong> của Ý. Được ra mắt lần đầu vào năm 2011, Aventador là mẫu xe kế nhiệm dòng Murciélago huyền thoại, đồng thời đánh dấu bước nhảy vọt về hiệu suất, thiết kế và công nghệ của thương hiệu Lamborghini.
                        </p>

                        <p>
                            Tên gọi “Aventador” lấy cảm hứng từ một chú bò tót nổi tiếng với tinh thần chiến đấu dũng mãnh trong các trận đấu bò Tây Ban Nha – đúng với truyền thống đặt tên xe theo các đấu sĩ bò tót của Lamborghini.
                        </p>

                        <h3>🔥 Điểm nổi bật của Lamborghini Aventador</h3>
                        <br>
                        <ul>
                            <li><strong>Động cơ:</strong> V12 6.5L hút khí tự nhiên, công suất từ 700 đến 780 mã lực (tùy phiên bản).</li>
                            <br>
                            <li><strong>Khả năng tăng tốc:</strong> Từ 0 đến 100 km/h chỉ trong 2.8 giây – nhanh như một chiếc xe đua.</li>
                            <br>
                            <li><strong>Tốc độ tối đa:</strong> Trên 350 km/h – chạm ngưỡng siêu xe hiệu suất cao.</li>
                            <br>
                            <li><strong>Hệ dẫn động:</strong> 4 bánh toàn thời gian (AWD) – đảm bảo độ bám đường tuyệt vời.</li>
                            <br>
                            <li><strong>Hộp số:</strong> 7 cấp ISR (Independent Shifting Rod) – sang số cực nhanh và mạnh mẽ.</li>
                            <br>
                        </ul>
                        <br>
                        <h3>🧠 Thiết kế và công nghệ ấn tượng</h3>
                        <p>
                            Lamborghini Aventador sở hữu khung gầm <strong>carbon fiber monocoque</strong> – vừa siêu nhẹ, vừa cứng cáp, giúp tối ưu hóa tốc độ và an toàn. Xe được trang bị hệ thống treo dạng <strong>push-rod</strong> như trong xe đua F1, mang lại trải nghiệm lái cực kỳ chính xác và ổn định.
                        </p>

                        <p>
                            Ngoại hình Aventador mang đậm ngôn ngữ thiết kế “khí động học chiến đấu” với các đường cắt sắc sảo, hầm hố và đậm chất tương lai. Bên trong nội thất, xe được hoàn thiện bằng da Alcantara, chi tiết carbon fiber cao cấp, cùng bảng đồng hồ kỹ thuật số hiện đại, tạo nên không gian vừa sang trọng vừa thể thao.
                        </p>

                        <h3>🏁 Kết luận</h3>
                        <p>
                            Lamborghini Aventador không chỉ là một chiếc xe, mà là một tuyên ngôn về <strong>tốc độ, phong cách và công nghệ</strong>. Đây là lựa chọn mơ ước của những người yêu xe thể thao và muốn sở hữu một biểu tượng tốc độ mang đậm bản sắc Ý.
                        </p>
                    </div>

                    <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="/img/blog/details/thien.jpg" alt="Mai Quang Thiện">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6>MAI QUANG THIỆN</h6>
                                        <span>Admin</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>Categories:</span> CAR</li>
                                        <li><span>Tags:</span> All, SUPER CAR, CAR, Life Style</li>
                                    </ul>
                                    <div class="blog__details__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br> <br> <br> <br> <br>

                    <div class="blog__details__content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="blog__details__author">
                                    <div class="blog__details__author__pic">
                                        <img src="/img/blog/details/tri.jpg" alt="Nguyễn Huỳnh Trí">
                                    </div>
                                    <div class="blog__details__author__text">
                                        <h6>NGUYỄN HUỲNH TRÍ</h6>
                                        <span>Admin</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="blog__details__widget">
                                    <ul>
                                        <li><span>Categories:</span> CAR</li>
                                        <li><span>Tags:</span> All, SUPER CAR, CAR, Life Style</li>
                                    </ul>
                                    <div class="blog__details__social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-envelope"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
    <!-- Related Blog Section End -->
    <!-- Footer Section Begin -->
    <footer class="footer spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer__about">
                        <div class="footer__about__logo">
                            <a href="./index.html"><img src="/img/logo.png" style="width: 200px; height: 200px;" alt=""></a>
                        </div>
                        <ul>
                            <li>Address: HO CHI MINH </li>
                            <li>Phone:0857540568</li>
                            <li>Email: dtccarvip991@mail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                    <div class="footer__widget">
                        <h6>Useful Links</h6>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">About Our Shop</a></li>
                            <li><a href="#">Secure Shopping</a></li>
                            <li><a href="#">Delivery infomation</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Our Sitemap</a></li>
                        </ul>
                        <ul>
                            <li><a href="#">Who We Are</a></li>
                            <li><a href="#">Our Services</a></li>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Innovation</a></li>
                            <li><a href="#">Testimonials</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12">
                    <div class="footer__widget">
                        <h6>Join Our Newsletter Now</h6>
                        <p>Get E-mail updates about our latest shop and special offers.</p>
                        <form action="#">
                            <input type="text" placeholder="Enter your mail">
                            <button type="submit" class="site-btn">Subscribe</button>
                        </form>
                        <div class="footer__widget__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer__copyright">
                        <div class="footer__copyright__text">
                            <p>
                                <!--  -->
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">DTCAR</a>
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>

    <script src="/js/main.js"></script>



</body>

</html>