@model WebQuanLiCuaHangBanOto.Models.Danhgia

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Danhgium</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Iddg" class="control-label"></label>
                <input asp-for="Iddg" class="form-control" />
                <span asp-validation-for="Iddg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idkh" class="control-label"></label>
                <input asp-for="Idkh" class="form-control" />
                <span asp-validation-for="Idkh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idsp" class="control-label"></label>
                <input asp-for="Idsp" class="form-control" />
                <span asp-validation-for="Idsp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThangDiem" class="control-label"></label>
                <input asp-for="ThangDiem" class="form-control" />
                <span asp-validation-for="ThangDiem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FeedBack" class="control-label"></label>
                <input asp-for="FeedBack" class="form-control" />
                <span asp-validation-for="FeedBack" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayFb" class="control-label"></label>
                <input asp-for="NgayFb" class="form-control" />
                <span asp-validation-for="NgayFb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DocbangDanhGia">Back to List</a>
</div>

</body>
</html>
